{% extends "base2.html" %}

{% block title %}
    Create
{% endblock title %}
{% block content %}
    <main class="show-project">
        <div class="project-name">
            <h2>Add record</h2>
            <form method="post" class="item">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
