{% extends "base2.html" %}

{% block title %}
    My Records
{% endblock title %}
{% block content %}
    <main>
        <div class="spotify-playlists">
            <h2>My Records</h2>
            {% comment %} {% if list_of_proj.all|length >= 1 %} {% endcomment %}
            <div class="list">
                <div class="item2">
                    <div class="play">
                        <span>
                            <a class="fa fa-play" href="#"></a>
                            <h5>Travis Scott | Monet Ngo | Austin Wintory | Drake | John Williams | ...</h5>
                            <h2>Liked Songs</h2>
                            <h3>531 songs</h3>
                        </span>
                    </div>
                </div>
                {% if list_of_recs.all|length >= 1 %}
                    {% for item in list_of_recs.all %}
                        <div class="item">
                            <img src="{{ item.albumart }}"/>
                            <div class="play">
                                <span>
                                    <a class="fa fa-play" href="{% url "show_record" item.id %}"></a>
                                </span>
                            </div>
                            <h4>{{ item.title }}</h4>
                            <h5>{{ item.artist }}</h5>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You have no records in your Library</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</main>
{% endblock content %}
