{% extends "base2.html" %}

{% block title %}
    Show Record
{% endblock title %}
{% block content %}
    <main>
        <div class="project-name">
            <img src="{{ record.albumart }}">
            <div>
                <h3>{{ record.description }}</h3>
                <h2>{{ record.title }}</h2>
                {% for item in record.all %}
                    <h4>
                        {{ task.assignee }} • {{ task.start_date|date:"F j, M" }} • {{ project.tasks.all|length }} task(s) • {{ task.due_date|date:"F j, M" }}
                    </h4>
                {% endfor %}
            </div>
        </div>
        {% if record.all|length >= 1 %}
            <div class="table-container">
                <table class="table">
                    <thead>
                        <th class="padleft">#</th>
                        <th>tracks</th>
                        <th class="third">length</th>
                    </thead>
                    <tbody>
                        {% for item in record.items.all %}
                            <tr>
                                <div>
                                    <td class="num">{{ item.id }}</td>
                                    {% comment %} <i class="fas fa-play"></i> {% endcomment %}
                                </div>
                                <td>
                                    <div class="main-text">{{ item.title }}</div>
                                    <div class="small-text">{{ item.artist }}</div>
                                </td>
                                <td class="third">{{ item.rating }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This record has no details</p>
            </div>
        {% endif %}
    </main>
{% endblock content %}
