* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
}

.sidebar .navigation hr {
    color: rgba(24, 24, 24, 0.1);
    padding: 5px;
    width: 75%
}

.sidebar .logo img {
    width: 130px;
    border-radius: 50%;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
    border-bottom: #181818;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}

.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
    color: #b3b3b3;
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
    color: #ffffff;
}

.sidebar .policies {
    position: absolute;
    bottom: 100px;
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
    text-decoration: underline;
}

.main-container {
    margin-left: 245px;
    margin-bottom: 100px;
    color: #ffffff
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 30px;
}

.topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
}

.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}

.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
    background-color: #f2f2f2;
}

.spotify-playlists {
    padding: 20px 40px;
}

.spotify-playlists hr {
    color: #b3b3b3;
    padding: 10px;
}

/* Makes the "Playlist Title" white and big */
.spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

/* defines the row display: nothing goes beyond the boundary */
.spotify-playlists .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}

/* Design: rounded edges; makes mouse a hand; eases color change */
/* .spotify-playlists .list .item-proj {
    min-width: 140px;
    width: 187px;
    height: 265px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
} */

.spotify-playlists .list .item {
    min-width: 140px;
    width: 160px;
    height: 255px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover {
    background-color: #202020;
}


/* .spotify-playlists .list .item-proj img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
} */

.spotify-playlists .list .item .play {
    position: relative;
}

/* play design: circle and green bg; */
.spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    text-decoration: none;
    color: #000000;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

/* Moves the play button up the Y axis upon hover */
.spotify-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
}

.spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .list .item h5 {
    color: #b3b3b3;
}

.spotify-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}

/* defines the size of the item's image */
.spotify-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}




.spotify-playlists .list .item2 {
    display: flex;
    align-items: flex-end;
    min-width: 140px;
    width: 370px;
    padding: 15px;
    background-color: #252ed8;

    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item2 .play h2 {
    position: relative;
    /* text-align: flex-end; */
}

.spotify-playlists .list .item2 .play h3 {
    position: relative;
    /* text-align: flex-end; */
    color: #b3b3b3;
}

.spotify-playlists .list .item2 .play h5 {
    position: relative;
    padding-bottom: 50px;
    /* text-align: flex-end; */
    color: #b3b3b3;
}

.spotify-playlists .list .item2 .play {
    position: relative;
}

/* play design: circle and green bg; */
.spotify-playlists .list .item2 .play .fa {
    position: absolute;
    right: -10px;
    top: 90px;
    padding: 18px;
    text-decoration: none;
    color: #000000;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

/* Moves the play button up the Y axis upon hover */
.spotify-playlists .list .item2:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* changes color of item when hovering over */
.spotify-playlists .list .item2:hover {
    background-color: #114df1;
}


.spotify-playlists .list .item2 img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}





.spotify-playlists .list .item3 {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    min-width: 140px;
    width: 370px;
    height: 60px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}


.spotify-playlists .list .item3 .play h4 {
    padding-left: 15px;
    padding-top: 15px;
    position: relative;
    /* text-align: flex-end; */
    color: #ffffff;
}

.spotify-playlists .list .item3 .play h5 {
    padding-left: 15px;
    position: relative;
    padding-bottom: 50px;
    /* text-align: flex-end; */
    color: #b3b3b3;
}


.spotify-playlists .list .item3 .play {
    position: relative;
}

/* play design: circle and green bg; */
.spotify-playlists .list .item3 .play .fa {
    position: absolute;
    right: -170px;
    top: 32px;
    padding: 18px;
    text-decoration: none;
    color: #000000;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

/* Moves the play button up the Y axis upon hover */
.spotify-playlists .list .item3:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.spotify-playlists .list .item3:hover {
    background-color: #202020;
}

.spotify-playlists .list .item3 img {
    width: 20%;
    height: 110%;
    border-radius: 6px;
    margin-bottom: 10px;
}






.spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}

.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}







.show-project {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;

}





.project-name {
    display: flex;
    align-items: center;
}

.project-name img {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    border-radius: 6px;
}

.project-name div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.project-name div h3 {
    color: #ffffff;
    font-size: 9.75px;
    margin-top: 0;
}

.project-name div h2 {
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
    margin-right: 10px;
}

.project-name div h4 {
    color: #ffffff;
    font-size: 9.75px;
    margin-top: 20px;
    margin-bottom: 0;
}



/* Table Time! */
.table-container {
    display: flex;
    gap: 20px;
    overflow: hidden;
    padding: 20px 35px;
    width: 100%;
}

.table-container .table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;

}


.table-container .table thead th {
    text-align: left;
    padding-left: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 9.75px;
    padding-bottom: 10px;
    color: #b3b3b3;
    border-bottom: 1px solid #3f3f3f;
}

/* .table-container .table .padleft {
    padding-left: 5px;
} */


/* makes sure the "is-completed" is on the right side */
/* .table-container .table .third {
    text-align: right;
} */

.table-container .table tbody td {
    padding-top: 10px;
    vertical-align: top;
    color: #b3b3b3;
    padding-right: auto;
    padding-left: 5px;
    font-size: 12px;
}

.table-container .table tbody tr:hover {
    background-color: #181818;
    border-radius: 16px;
    cursor: pointer;
    transition: all ease 0.4s;
}

/* defining the design of the table data */
.table-container .table .num {
    font-size: 9.75px;
    font-weight: lighter;
    color: #b3b3b3;
    padding-left: 5px;
}

/* .table-container .table tbody td:hover {
    background-color: #b3b3b3;
    padding-left: 5px;
} */

.table-container .table .main-text {
    font-size: 12px;
    font-weight: bold;
    color: #fff
}

.table-container .table .small-text {
    font-size: 9.75px;
    color: #b3b3b3
}

.table-container .table .third {
    text-align: right;
    padding: 20px;
    font-size: 9.75px;
    color: #b3b3b3
}

.form h2 {
    color: #ffffff;
    font-size: 50px;
}
