{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/practice.css" %}?v=1">
        <title>Projects</title>
    </head>
    <body>
        <div class="sidebar">
            <div class="logo">
                <a href="#">
                    <img src="https://i.scdn.co/image/ab6761610000e5eb908254964f54b745a71cfd06"
                         alt="Logo"/>
                </a>
            </div>
            <div class="navigation">
                <ul>
                    <li>
                        <a href="{% url "list_projects" %}">
                            <span class="fa fa-home"></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url "search_project" %}">
                            <span class="fa fa-search"></span>
                            <span>Search</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url "list_records" %}">
                            <span class="fa fas fa-book"></span>
                            <span>Your Library</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navigation">
                <ul>
                    <li>
                        <a href="{% url "add_record" %}">
                            <span class="fa fas fa-plus-square"></span>
                            <span>Add Record</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url "show_my_tasks" %}">
                            <span class="fa fas fa-heart"></span>
                            <span>My Tasks</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url "show_my_tasks" %}">
                            <span class="fa fas fa-bookmark"></span>
                            <span>Your Episodes</span>
                        </a>
                    </li>
                </ul>
            </div>
            <hr>
            <div>
                <p>Playlists</p>
            </div>
            <div class="policies">
                <ul>
                    <li>
                        <a href="#">Cookies</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-container">
            <div class="topbar">
                <div class="prev-next-buttons">
                    <button type="button" class="fa fas fa-chevron-left"{{ prev_url }}>
                    </button>
                    <button type="button" class="fa fas fa-chevron-right"></button>
                </div>
                <div class="navbar">
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="#">Premium</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Download</a>
                            </li>
                            <li class="divider">|</li>
                        {% else %}
                            <li>
                                <a href="{% url "signup" %}">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        <a href="{% url "logout" %}">
                            <button>Sign Out</button>
                        </a>
                        {% comment %} <button type="button" onclick="{% url "logout" %}">Sign Out</button> {% endcomment %}
                    {% else %}
                        <a href="{% url "login" %}">
                            <button>Login</button>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% block content %}
            {% endblock content %}
            {% comment %} </div>
            </div> {% endcomment %}
            {% comment %} <div class="list">
                    <div class="item">
                        <img src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db"/>
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>Today's Top Hits</h4>
                        <p>Rema & Selena Gomez are on top of the...</p>
                    </div>
                    <div class="item">
                        <img src="#"/>
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>
                            idk.
                        </h4>
                        <p>
                            idk.
                        </p>
                    </div>
            </div> {% endcomment %}
            {% comment %} <hr> {% endcomment %}
        </div>
        <div class="preview">
            <div class="text">
                {% if user.is_authenticated %}
                {% else %}
                    <h6>
                        Preview of Spotify
                    </h6>
                    <p>
                        Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed.
                    </p>
                </div>
                <div class="button">
                    <button type="button">
                        Sign up free
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://kit.fontawesome.com/23cecef777.js"
            crossorigin="anonymous"></script>
</body>
</html>
