{% extends "base2.html" %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <main>
        <div class="spotify-playlists">
            <h2>Good Morning</h2>
            {% comment %} {% if list_of_proj.all|length >= 1 %} {% endcomment %}
            <div class="list">
                {% if list_of_proj.all|length >= 1 %}
                    {% for item in list_of_proj.all %}
                        <div class="item3">
                            <img src="{{ item.image }}"/>
                            <div class="play">
                                <span>
                                    <a class="fa fa-play" href="{% url "show_project" item.id %}"></a>
                                </span>
                                <h4>{{ item.name }}</h4>
                                <h5>{{ item.description }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </div>
        <div class="spotify-playlists">
            <h2>Your Records</h2>
            <div class="list">
                {% for item in list_of_recs.all %}
                    <div class="item">
                        <img src="{{ item.albumart }}"/>
                        <div class="play">
                            <span>
                                <a class="fa fa-play" href="{% url "show_record" item.id %}"></a>
                            </span>
                        </div>
                        <h4>{{ item.title }}</h4>
                        <h5>{{ item.artist }}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}
