{% extends "base2.html" %}

{% block title %}
    Search Project
{% endblock title %}
{% block content %}
    <main>
        <div class="spotify-playlists">
            <h2>Search</h2>
            <form method="get">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Search</button>
            </form>
            {% if results %}
                <h2>Results</h2>
                <ul>
                    {% for result in results %}<li>{{ result.title }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
{% endblock content %}
