{% extends "base2.html" %}

{% block title %}
    Show Project
{% endblock title %}
{% block content %}
    <main>
        <div class="project-name">
            <img src="{{ project.image }}">
            <div>
                <h3>{{ project.description }}</h3>
                <h2>{{ project.name }}</h2>
                {% for task in project.tasks.all %}
                    <h4>
                        {{ task.assignee }} • {{ task.start_date|date:"F j, M" }} • {{ project.tasks.all|length }} task(s) • {{ task.due_date|date:"F j, M" }}
                    </h4>
                    {% comment %} <a href="{% url "create_task" %}">Create a new task</a> {% endcomment %}
                {% endfor %}
            </div>
        </div>
        {% if project.tasks.all|length >= 1 %}
            <div class="table-container">
                <table class="table">
                    <thead>
                        <th class="padleft">#</th>
                        <th>Name</th>
                        <th class="third">Is completed</th>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <div>
                                    <td class="num">{{ task.number }}</td>
                                    {% comment %} <i class="fas fa-play"></i> {% endcomment %}
                                </div>
                                <td>
                                    <div class="main-text">{{ task.name }}</div>
                                    <div class="small-text">{{ task.assignee }}</div>
                                </td>
                                <td class="third">{{ task.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            </div>
        {% endif %}
    </main>
{% endblock content %}
